<div id="<%= dom_id payment %>">
  <p>
    <strong>Correlation ID:</strong>
    <%= payment.correlation_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.formatted_amount %>
  </p>

</div>
